@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

.box {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

app-header {
    font-family: 'Cinzel', sans-serif;
}